#module-ongoing-wrapper {
    position: absolute;
    top: 4vh;
    bottom: 0;
    width: 100%;
}

.module-ongoing-entry-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
}

.module-ongoing-entry-title-wrapper {
    position: absolute;
    top: 6vh;
    height: 6vh;
    width: 100%;
}

.module-ongoing-entry-name-wrapper {
    position: absolute;
    top: 10vh;
    height: 8vh;
    width: 100%;
}

.module-ongoing-entry-event-wrapper {
    position: absolute;
    top: 20vh;
    height: 6vh;
    width: 100%;
}

.module-ongoing-entry-title-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-family: 'Google Sans';
    font-size: 3vh;
    color: white;
    white-space: nowrap;
}

.module-ongoing-entry-name-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-family: 'Google Sans';
    font-size: 5vh;
    color: white;
    white-space: nowrap;
}

.module-ongoing-entry-event-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-family: 'Google Sans';
    font-size: 3vh;
    color: white;
    white-space: nowrap;
}

.module-ongoing-entry-results-wrapper {
    position: absolute;
    height: 36vh;
    left: 6vh;
    right: 6vh;
    bottom: 6vh;
    background-color: rgba(128, 128, 128, 0.5);
}

.module-ongoing-entry-results-title-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 4vh;
    width: 100%;
    background-color: rgba(64, 64, 64, 0.5);
}

.module-ongoing-entry-results-title-text {
    position: absolute;
    top: 50%;
    left: 1.6vh;
    transform: translateY(-50%);

    font-family: 'Google Sans';
    font-size: 2vh;
    color: white;
    white-space: nowrap;
}

.module-ongoing-entry-results-table-wrapper {
    position: absolute;
    top: 4vh;
    width: 100%;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5);
}

.module-ongoing-entry-results-table-wrapper table {
    font-family: 'Google Sans';
    font-size: 2.0vh;
    color: white;
    width: 100%;
    padding: 0.4vh 2vh;
}

.module-ongoing-entry-results-table-wrapper thead {
    display: table-header-group;
}

.module-ongoing-entry-results-table-wrapper th, td {
    font-family: 'Google Sans';
    padding: 1.0vh 1.0vh;
    text-align: left;
    border-bottom: 0.1vh solid rgba(255, 255, 255, 0.75);
}

.module-ongoing-entry-results-table-wrapper th {
    border-bottom: 0.16vh solid rgba(255, 255, 255, 0.75);
}