#module-standings-wrapper {
    position: absolute;
    top: 4vh;
    bottom: 0;
    width: 100%;
    overflow: visible;
    perspective: 4096px;
    transform-style: preserve-3d;
}

.module-standings-entry-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    will-change: auto;
}

.module-standings-entry-logo-wrapper {
    position: absolute;
    height: 12vh;
    width: 12vh;
    top: 50%;
    left: 3vh;
    transform: translateY(-50%);
}

.module-standings-entry-name-wrapper {
    position: absolute;
    height: 3vh;
    width: 16vh;
    top: 50%;
    right: 3vh;
    transform: translateY(-200%);
}

.module-standings-entry-score-wrapper {
    position: absolute;
    height: 7vh;
    width: 16vh;
    top: 50%;
    right: 3vh;
    transform: translateY(-15%);
}

.module-standings-entry-name-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-family: 'Google Sans';
    font-size: 2vh;
    color: white;
    white-space: nowrap;
}

.module-standings-entry-score-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-family: 'Google Sans';
    font-size: 5vh;
    color: white;
    white-space: nowrap;
}

.module-standings-exit {
    animation-name: st-entry-flip;
    animation-iteration-count: 1;
    animation-duration:  0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.module-standings-enter {
    animation-name: st-entry-back;
    animation-iteration-count: 1;
    animation-duration:  0.36s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
}

@keyframes st-entry-flip {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1.0;
    }

    to {
        transform: translate3d(6vh, 0, -192px);
        opacity: 0.0;
    }
}

@keyframes st-entry-back {
    from {
        transform: translate3d(-6vh, 0, 192px);
        opacity: 0.0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1.0;
    }
}
