@font-face {
    src: url(../fonts/GoogleSans-Regular.woff);
    font-family: "Google Sans";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url(../fonts/GoogleSans-Italic.woff);
    font-family: "Google Sans";
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    src: url(../fonts/GoogleSans-Medium.woff);
    font-family: "Google Sans";
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    src: url(../fonts/GoogleSans-MediumItalic.woff);
    font-family: "Google Sans";
    font-stretch: normal;
    font-style: italic;
    font-weight: 500;
}

@font-face {
    src: url(../fonts/GoogleSans-Bold.woff);
    font-family: "Google Sans";
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    src: url(../fonts/GoogleSans-BoldItalic.woff);
    font-family: "Google Sans";
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2980b9 url('../img/bg.png') repeat 0 0;
    perspective: 200vh;
    /* animation: 10s linear 0s normal none infinite animate; */
}

@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

#hidden-modules {
    display: none;
}

#display-wrapper {
    position: absolute;
    top: 2.5vh;
    bottom: 2.5vh;
    left: 2.5vh;
    right: 2.5vh;
    overflow: visible;
}

#top-chrome-wrapper {
    position: absolute;
    top: 0;
    height: 8vh;
    width: 100%;
    overflow: hidden;
}

#bottom-chrome-wrapper {
    position: absolute;
    bottom: 0;
    height: 6vh;
    width: 100%;
    overflow: hidden;
}

#content-wrapper {
    position: absolute;
    top: 10.5vh;
    bottom: 8.5vh;
    left: 2.5vh;
    right: 2.5vh;
    overflow: visible;
}

#panel-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 37vh;
    height: 100%;
    overflow: visible;
}

#panel-title-wrapper {
    position: absolute;
    top: 0;
    height: 4vh;
    width: 100%;
    background-color: rgba(64, 64, 64, 0.75);
}

#pane-wrapper {
    position: absolute;
    top: 0;
    left: 41vh;
    right: 0;
    height: 100%;
    background-color: rgba(64, 64, 64, 0.75);
}

#title-wrapper {
    position: absolute;
    height: 100%;
    left: 0;
    width: 36vh;
    overflow: hidden;
}

#clock-wrapper {
    position: absolute;
    height: 100%;
    width: 20vh;
    right: 0;
    overflow: hidden;
}

#clock-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-family: 'Google Sans';
    font-size: 5vh;
    color: white;
    white-space: nowrap;
}

#title-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-family: 'Google Sans';
    font-size: 4vh;
    color: white;
    white-space: nowrap;
}

#footer-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-family: 'Google Sans';
    font-size: 3vh;
    color: white;
    white-space: nowrap;
}

#panel-title-text {
    position: absolute;
    top: 50%;
    left: 1.6vh;
    transform: translateY(-50%);

    font-family: 'Google Sans';
    font-size: 2vh;
    color: white;
    white-space: nowrap;
}

#pane-title-wrapper {
    position: absolute;
    top: 0;
    height: 4vh;
    width: 100%;
    background-color: rgba(64, 64, 64, 0.75);
}

#pane-title-text {
    position: absolute;
    top: 50%;
    left: 1.6vh;
    transform: translateY(-50%);

    font-family: 'Google Sans';
    font-size: 2vh;
    color: white;
    white-space: nowrap;
}

.pane-wrapper-flip {
    animation-name: pane-flip;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes pane-flip {
    0% { transform: rotate3d(1.0, 0.0, 0.0, 0deg); }
    100% { transform: rotate3d(1.0, 0.0, 0.0, 360deg); }
}